h1{
    font-size:50px;
}
#Start {
background-image:url("/Casio.jpg");
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20%;
    vertical-align: middle;
}
button:hover{
background-color:khaki;
}
button:active{
transform:scale(0.95);
}
b{
font-weight:900;
}
button {
    background-color: rgb(195, 216, 225);
    -webkit-text-stroke-color: aliceblue;
    -webkit-text-stroke-width:0.25vw;
    font-weight:800;
    font-size:35px;
  
    color:rgb(22, 29, 29);
    border-style: solid;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}