@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    font-family: "Varela Round", sans-serif !important;
}
h1{
    font-size:50px;
    font-family: "Varela Round", sans-serif !important;
}

#Start {
background-image:url("/assets/Casino.jpg");
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    margin-top: 20%;
    font-family: "Varela Round", sans-serif !important;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20%;
    vertical-align: middle;
}
button:hover{
background-color:khaki;
}
button:active{
transform:scale(0.95);
}
b{
font-weight:900;
}
button {
    background-color: rgb(195, 216, 225);
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width:0.25px;
    font-weight:900;
    font-size:35px;
    font-family: "Varela Round", sans-serif !important;
    color:rgb(22, 29, 29);
    border-style: solid;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}
#coins{
    position:fixed;
    top:0px;
    right:0px;
    margin:10px;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width:0.5px;
}